.card-color-1 {
    background-color: #DFEEF6 !important;
}

.card-color-2 {
    background-color: #D6E3FF !important;
}

.card-color-3 {
    background-color: #F5C5B7!important;
}

.card-color-4 {
    background-color: #F2CFD4 !important;
}

.card-color-5 {
    background-color: #EFECBD !important;
}

.card-color-6 {
    background-color: #C4D7C1 !important;
}

